<div id="skuListController" ng-controller="skuListController">
	

<div class="row">
<h1>
	<div class="col-md-9">All Items</div>
	<div class="col-md-3">
		<form role="form">
			<input id="filterInput" type="text" class="form-control"
				 ng-model="itemFilter" placeholder="Items filter..." 
				 data-toggle="tooltip" data-placement="top" 
				 title="Filter the table for any part of text in the item" />
		</form>
	</div>
</h1>
</div>

<div class="row">
<table id="item-list-table" class="table table-striped table-bordered table-hover">
	<thead>
	  <tr>
		  <th ng-repeat="header in headers">{{header}}</th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="item in item_list | filter: itemFilter">
	    <td><a href="/#/item/{{item.PART_NUMBER}}">{{item.PART_NUMBER}}</a></td>
	    <td><a href="/#/item/{{item.PART_NUMBER}}">{{item.DESCRIPTION}}</a></td>
	    <td><a href="/#/item/{{item.PART_NUMBER}}">{{item.LONG_DESCRIPTION}}</a></td>
	    <td>{{item.US_LIST_PRICE}}</td>
	    <td>{{item.DISCOUNT_CAT}}</td>
	    <td>{{item.RANGE_START}}</td>
	    <td>{{item.RANGE_END}}</td>
	  </tr>
	  <tr ng-show="!item_list.length">
		  <td colspan="7">No items</td>
	  </tr>
	</tbody>
</table>
</div>
</div>